<div class="container-fluid" style="background-color:#000000;">
    <div class="row py-4">
        <div class="col-sm-12 text-center">
            <h2 class="text-white">CONTACT US</h2>
        </div>
        <hr class="my-0" style="border:2px solid rgb(192, 148, 53); width:70px">
    </div>

    <div class="row pt-2">
        <div class="col-sm-6 text-center py-4">
            <h6 class="text-white">FOR MORE INFORMATION, PLEASE WRITE TO US AT</h6>
            <div class="pt-1 text-center">
                <p class="mb-0" style="color: white;">Inquiries :
                    <font style="color:#FAAF40">info@flyhighrealtors.com</font>
                </p>
            </div>
            <div class="pt-1 text-left`">
                <p class="mb-0" style="color: white;">TEL. NO :
                    <font style="color:#FAAF40">+91 9267930128</font>
                </p>
            </div>
        </div>
        <div class="col-sm-6 text-center py-4">
            <h6 class="text-white">CORPORATE OFFICE</h6>
            <div class="pt-1 text-center">
                <p class="mb-0" style="color: white;">
                    <font style="color:#FAAF40">244, Ground Floor, Sector 4, Gurugram</font>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#333333;">
    <div class="row">
        <div class="col-sm-12 text-center p-2">
            <strong class="text-white ">HRERA-PKL-REA-400-2021 dated 25.02.2021 | © 2021 FlyHigh Realtors | All Rights
        Reserved. </strong>
        </div>
    </div>
</div>