<div class="container-fluid bg-dark">
  <div class="row py-4">
    <div class="col-sm-12 text-center">
      <h2 class="text-white">CONTACT US</h2>
    </div>
    <hr class="my-0" style="border:2px solid rgb(192, 148, 53); width:70px">
  </div>
</div>


<div class="container-fluid bg-dark">
  <div class="row pt-2">
    <div class="col-sm-12 text-center">
      <h6 class="text-white" style="color: rgb(192, 148, 53)!important;">CORPORATE OFFICE</h6>
    </div>
  </div>

  <div class="row py-0">
    <div class="col-sm-12 text-center">
      <p class="text-white" style="color: rgb(192, 148, 53);">Sector 4 Gurgaon. TEL. NO.: +91 9582946422</p>
    </div>
  </div>
</div>