<div class="container-fluid mt-2" style="background-color: rgb(192, 148, 53)!important;">
    <div class="row" style="margin-left: 20px;margin-right: 20px; border-radius: 4px;">
        <div class="col-sm-12 text-center">
            <h4 style="color: white !important;">Properties Available</h4>
        </div>
    </div>
</div>

<div class="container p-4 justify-content-center">
    <div class="">
        <nav>
            <div class="nav nav-tabs border-bottom-2 cursor-p">
                <a data-toggle="tab" *ngFor="let projectVar of selectedProject.Variants; let i = index" class="nav-item nav-link active  margin-bottom-minus-2" [ngClass]="{'floorPlan-Border-nobottom': projectVar.IsSelected === true, 'tab-non-selected' : projectVar.IsSelected === false, 'ml-2': i > 0 }"
                    (click)="onSelectedVariant(projectVar.ID)">{{projectVar.Name}}</a>
            </div>
        </nav>
        <div class="tab-content">
            <div *ngFor="let projectVar of selectedProject.Variants" [ngClass]="{'active': projectVar.IsSelected === true}" class="tab-pane fade show  floorPlanBorder" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container">
                    <div class="row flex-nowrap">
                        <div class="container py-2 ">
                            <div class="flatTypeButtonStyle d-flex justify-content-center">
                                <nav class="cursor-p" *ngIf="projectVar.VariantType.length > 1">
                                    <div class="nav nav-tabs" role="tablist">
                                        <a *ngFor="let varType of projectVar.VariantType; let i = index" class="nav-item nav-link active" [ngClass]="{'Variant-Selected-style': varType.IsSelected === true, 'Variant-not-Selected-style' : varType.IsSelected === false, 'ml-2': i > 0 }" (click)="onSelectedVariantType(projectVar.ID,varType.VariantId)">{{varType.isReferenceArea === true ? varType.ReferenceArea : varType.CarpetArea}} sqft</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div *ngFor="let varType of projectVar.VariantType;" [ngClass]="{'active': varType.IsSelected === true}" class="container tab-pane fade show ">
                            <app-variant-details [variantType]="varType"></app-variant-details>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>