<nav class="navbar navbar-light  bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="/assets/logo.png" height="50px" width="250px" alt="FlyHigh">
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item" s>
            <a class="nav-link active" style="color: rgb(192, 148, 53)!important;">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" style="color: rgb(192, 148, 53)!important;">Buyers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" style="color: rgb(192, 148, 53)!important;">Developers</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark" style="color: rgb(192, 148, 53)!important;">Contact Us</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>