<div class="container-fluid ">
    <div class="row ">
        <div class="col-sm-12 text-center">
            <h4 class="default-bg-col rounded p-2" style="color: white !important;">Overview</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-2 justify-content-center">
        <div class="d-flex flex-wrap">
            <div class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Possession Date</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.PossessionDate}}</div>
            </div>
            <div class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Status</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.Status}}</div>
            </div>
            <div class="p-4" *ngIf="selectedProject.ID !== 328">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Launch Date</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.LaunchDate}}</div>
            </div>
            <div class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">No. Of Flats</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.TotalApartments}}</div>
            </div>
            <div *ngIf="selectedProject.NumberOfTowers > 0" class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Towers</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.NumberOfTowers}}</div>
            </div>
            <div *ngIf="selectedProject.NumberOfUnits > 0" class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Total Units</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.NumberOfUnits}}</div>
            </div>
            <div class="p-4">
                <div style="color: rgb(192, 148, 53)!important;font-size:13px;font-weight:600">Total Area</div>
                <div style="font-size:15px;font-weight:400">{{selectedProject.TotalArea}}</div>
            </div>
        </div>
    </div>
</div>