<div>
    <div class="modal-body p-0">
        <div class="container">
            <div class="row p-4 default-bg-col">Please submit your details and our sales team will contact you shortly</div>
            <div class="p-4">
                <form [formGroup]="contactForm" (ngSubmit)="sendMail()">
                    <div class="form-group">
                        <input autocomplete="off" formControlName="name" style="box-sizing: unset;" type="text" class="mt-2 w-100 background-image-u border-top-0 border-right-0  border-left-0 default-border-col" [ngClass]="{'default-border-danger-col': submitted && controls.name.errors, 'default-border-col':!submitted || submitted && !controls.name.errors}"
                            id="name" placeholder="Your Name">
                        <div *ngIf="submitted && controls.name.errors" class="">
                            <div class="invalid-feedback d-block" *ngIf="controls && controls.name.errors.required">
                                Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" formControlName="email" style="box-sizing: unset;" type="email" class="mt-2 w-100 background-image-u border-top-0 border-right-0  border-left-0 default-border-col pt-2" [ngClass]="{'default-border-danger-col': submitted && controls.email.errors, 'default-border-col':!submitted || submitted && !controls.email.errors}"
                            aria-describedby="emailHelp" placeholder="Your email">
                        <div *ngIf="submitted && controls.email.errors">
                            <div class="invalid-feedback d-block" *ngIf="controls.email.errors.required">Email is required
                            </div>
                            <div class="invalid-feedback d-block" *ngIf="controls.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" formControlName="phone" type="text" class="mt-2 w-100 background-image-u border-top-0 border-right-0  border-left-0 default-border-col pt-2" [ngClass]="{'default-border-danger-col': submitted && controls.phone.errors, 'default-border-col':!submitted || submitted && !controls.phone.errors}"
                            placeholder="Your phone number">
                        <div *ngIf="submitted && controls.phone.errors">
                            <div class="invalid-feedback d-block" *ngIf="controls && controls.phone.errors.required">
                                Number is required</div>
                            <div class="invalid-feedback d-block" *ngIf="controls.phone.errors.pattern || controls.phone.errors.maxlength || controls.phone.errors.minlength">
                                Phone number must be in valid format</div>

                        </div>
                    </div>
                    <div *ngIf="success" class="alert alert-success text-center" role="alert">
                        Thank you for contacting us. Our Team will contact you shortly.
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary default-col bg-dark border-0">Get Callback</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>