<div class="container-fluid">
    <div class="row">
        <app-image-carousel [isEnlarge]="false" [images]="images"></app-image-carousel>
    </div>
</div>

<div style="padding-top: 60px;padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 style="color: rgb(192, 148, 53)!important;">Who We Are</h2>
            </div>
            <div class="col-sm-6">FlyHigh is an integrated real estate development and management company that was founded with the pursuit of excellence. The core of our business is to develop and manage real estate projects for residential, commercial, and leisure purposes</div>
        </div>
    </div>
</div>

<div #ourProject class="container-fluid mt-2">
    <div class="row default-bg-col rounded mx-20">
        <div class="col-sm-12 text-center">
            <h2 style="color: white !important;">Current Projects</h2>
        </div>
    </div>
    <div class="row mx-20">
        <div class="col-md-4 mt-2 p-0" *ngFor="let item of projects">
            <div class="content m-0 w-100">
                <a [routerLink]="['/project',item.ID]">
                    <div class="content-overlay rounded"></div> <img class="content-image projectimg" [src]="item.HomePageImage">
                    <div class="content-details rounded">
                        <h3 class="content-title">{{item.ProjectName}}</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i>{{item.City}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 mt-2 p-0">
            <div class="content m-0 w-100">
                <a>
                    <div class="content-overlay rounded"></div> <img class="content-image projectimg" src="assets/Ekam.jpg">
                    <div class="content-details rounded">
                        <h3 class="content-title">EKam</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i>Gurugram</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-2">
    <div class="row default-bg-col rounded" style="margin-left: 20px;margin-right: 20px;">
        <div class="col-sm-12 text-center">
            <h2 style="color: white !important;">Our Developer Partners</h2>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <img style="width: 15rem;" src="assets/Godrej.jpeg" class="card-img-top m-2" alt="">

        </div>
        <div class="col m-2">
            <img style="width: 15rem;" src="assets/SGLogo.jpg" class="card-img-top m-2" alt="">

        </div>
        <div class="col m-2">
            <img style="width: 15rem;" src="assets/mapsko.png" class="card-img-top m-2" alt="">
        </div>
    </div>
</div>